/* DM Sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;1,600;0,700&display=swap");

/* Bricolage Grotesque */
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@700&display=swap");

@import "tailwindcss";

:root {
  /* Fonts */
  --font-dm-sans: "DM Sans";
  --font-bricolage: "Bricolage Grotesque";

  /* DM Sans weights */
  --dm-300: 300;
  --dm-500: 500;
  --dm-600: 600;
  --dm-600i: 600; /* italic handled separately */
  --dm-700: 700;

  /* Bricolage Grotesque weight */
  --bricolage-700: 700;

  /* Neutral Color Palette */
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Accent Colors */
  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}

body {
  background-color: var(--neutral-900);
  margin: 0;
  box-sizing: border-box;
}

.unit-dropdown {
  background-color: var(--neutral-700);
  color: var(--neutral-0);
  font-family: var(--font-dm-sans);
}
.title-header {
  color: var(--neutral-0);
  font-family: var(--font-bricolage);
}
input[type="search"] {
  background-color: var(--neutral-700);
}

input::placeholder {
  color: var(--neutral-300);
  font-family: var(--font-dm-sans);
}
.search-btn {
  background-color: var(--blue-500);
  color: var(--neutral-0);
}
/* #location {
  color: var(--neutral-0);
  font-size: clamp(18px, 7vw, 68px);
}
#date {
  color: var(--neutral-200);
  font-size: clamp(8px, 5vw, 28px);
}
#temperature {
  color: var(--neutral-0);
  font-size: clamp(18px, 20vw, 120px);
} */
.weather-stats,
.daily-forecast,
.hourly-forecast,
.hourly-forecast-container {
  background-color: var(--neutral-800);
  border: 2px solid var(--neutral-600);
}
